<div class="row">
      <div class="col s12 m4 l3"> 
      	<div class="card-panel grey darken-4 white-text">

      		<h4><i class="fa fa-hand-o-right"></i> Informaci칩n</h4>
      		<p>Ac치 se muestran los datos que posees en la aplicaci칩n. Puedes editarlos con el boton inferior
      			de la p치gina web. Recuerda que necesitamos que sean datos reales, de esta manera te podremos entregar los disfraces que nos solicites.</p>
      	</div>

      </div>

       <div class="col s12 m8 l9"> 
            <h4>Tu Perfil</h4>
                        <div class="card-panel">
                              
                              <div class="row">
                                    <div class="col s12 m2">
                                          <img width="150" height="160" src="/assets/default.png" />
                                    </div>
                                    <div class="col s12 m5">
                                          <h5>Perfil</h5>
                                          <div class="divider"></div>
                                          <div class="col s12 m3">
                                                <p><b>Nombre: </b></p>
                                                <p><b>Apellido: </b></p>
                                                <p><b>Rut: </b></p>
                                                
                                                
                                          </div>
                                          <div class="col s12 m9"></div>
                                          <p><%= current_cliente.NOMBRE_CLIENTE %> </p>
                                          <p><%= current_cliente.APELLIDO_CLIENTE %></p>
                                          <p><%= current_cliente.RUT_CLIENTE %></p>
                                          
                                    </div>
                                    <div class="col s12 m5">
                                          <h5>Contacto</h5>
                                          <div class="divider"></div>
                                          <div class="col s12 m3">
                                                <p><b>Telefono: </b></p>
                                                <p><b>Correo: </b></p>
                                                <p><b>Direccion: </b></p>
                                                
                                          </div>
                                          <div class="col s12 m9"></div>
                                          <p><%= current_cliente.TELEFONO_CLIENTE %></p>
                                          <p><%= current_cliente.email %> </p>
                                          <p><%= current_cliente.DIRECCION_CLIENTE %></p>
                                    </div>
                              </div>

                        </div>
<% if false%>
                        <div class="card-panel">
                              <h4>Mis arriendos</h4>
                              <div class="divider"></div>

                        </div>
                        <%end %>
            </div>
    </div>