<div class="container">
	<div class="row">
		<div class="col s12 m8">
			<h3><i class="fa fa-shopping-cart"></i> Tu Carrito de arriendo</h3>
		</div>
		<div class="col s12 m4">
			<br><br>
			<a href="/disfrazs" class="waves-effect waves-light btn white-text ">Catálogo</a>
		</div>
	
	</div>
	<% total = 0 %>
		<% totaldisfraces = 0%>
	<div class="row">
		<div class="col s6 m8">
				
			<% if @cart.empty? %>
			<blockquote>Tu carrito por el momento se encuentra vacío. Selecciona los disfraces que desees de nuestro catálogo y podrás verlos acá.</blockquote>
			<%end%>
			<% @cart.each do |id, quantity |%>
					<% if Disfraz.exists?(id) %>
					<% disfraz = Disfraz.find(id) %>
				<div class="card-panel hoverable">	
					<div class="row">
						<div class="container">
							<!--<%= link_to disfraz.NOMBRE_DISFRAZ , disfraz %>-->
							<div class="row">
								
								<div class="col s12 m8">
									<h5>Disfraz: <b><%= disfraz.NOMBRE_DISFRAZ%></b></h5>
								</div>
							
							</div>
						</div>
						<div class="divider"></div>
						<div class="col s4">

							<div class="row" align="left">
								<%= image_tag disfraz.imagen.url(:medium)%>
								
								
							</div>
						</div>
						<div class="col s8">
							<div class="col s12 m8">#<%= disfraz.id %> - <b>Descripción del disfraz</b></div>
							<table class="highlight">
								<tbody>
									<tr>
										<td><b>Descripción:</b></td>
										<td><%= disfraz.descripcion%></td>
									</tr>
									<tr>
										<td><b>Precio:</b></td>
										<td>$ <%= disfraz.precio%></td>
									</tr>
									<tr>
										<td><b>Cantidad:</b></td>
										<td><%= quantity %>
											
											<a href="/carrito/añadir/<%= disfraz.id %>"><i class="fa fa-plus-square"></i>
												<% if quantity>1%>
											</a><a href="/carrito/quitar/<%= disfraz.id %>"><i class="fa fa-minus-square-o"></i></a>
											<%end%>
										</td>

									</tr>	
								</tbody>
							</table>

						</div>
						<div class="container">
								<div class="row" align="right"><%= link_to 'Ver', disfraz ,class: 'waves-effect waves-light btn white-text '%>
									<a href="/carrito/eliminar/<%= disfraz.id %>" class="waves-effect waves-light btn white-text  red">Quitar</a>
							</div>
						 </div>
					</div>
				</div>
				<% total += quantity * disfraz.precio  %>
						<% totaldisfraces += quantity %>
			<%else%>						
				<blockquote>Un disfraz ha sido eliminado de la tienda. Ya no está en tu carrito de arriendos.</blockquote>
			<%end%>


			<% end %>
			
			
		</div>
		<div class="col s6 m4">
			<div class="card-panel">
				<h5>Datos del arriendo</h5>
				<div class="divider"></div>

				<% if !@cart.empty? %>
				<table class="highlight">
			        <tbody>
			          <tr>
			            <td>Cantidad de disfraces:</td>
			            <td><b><%= totaldisfraces%></b></td>
			          </tr>
			          <tr>
			            <td>Fecha de Retiro: </td>
			            <td><b>Fecha</b></td>
			          </tr>
			          <tr>
			            <td>Fecha de Devolución: </td>
			            <td><b>Fecha</b></td>
			          </tr>
			        </tbody>
			      </table>
			      <%else %>
			      <br>
			      <div class="container">
			      <%=image_tag("empty_cart.png") %>
			      </div>
					<br>
			      <% end %>
			      <div class="divider"></div>
			      <div class="container" align="right">
			            <td>Total:</td>
			            <td><b>$ <%= total %></b></td>
			      </div>
			</div>
			<div class="container">
				<div class="row" align="center">
					<% if !@cart.empty?%>
					<a href="/carrito/solicitar" class="waves-effect waves-light btn white-text green">Pedir</a> 
					<a href="/carrito/vaciar" class="waves-effect waves-light btn white-text red">Vaciar</a>
					<%end%>
				</div>
			</div>
		</div>

	</div>
</div>