<%= form_for(@ejemplar) do |f| %>
  <% if @ejemplar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ejemplar.errors.count, "error") %> prohibited this ejemplar from being saved:</h2>

      <ul>
      <% @ejemplar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :talla %><br>
    <%= f.text_field :TALLA_EJEMPLAR%>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :COLOR_EJEMPLAR%>
  </div>

  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :ESTADO_EJEMPLAR%>  
  </div>

  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :PRECIO_EJEMPLAR%>  
  </div>

  <div class="actions">
    <%= f.submit "actualizar", class: 'waves-effect waves-light btn' %>
    <%= link_to 'volver', ejemplars_path, class: 'waves-effect waves-light btn' %>
  </div>
<% end %>
