<%= form_for(@categorium) do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

      <ul>
      <% @categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section">
    <%= f.label :nombre %>
    <%= f.text_field :NOMBRE_CATEGORIA %>

  </div>
  <div class="section">
    <%= f.label :cantidad_disfraces %>
    <%= f.text_field :STOCK_CATEGORIA %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
