<%= form_for(@categorium) do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <div class="card-panel red white-text">
      <h5>Errores encontrados:</h5>

      <ul>
      <% @categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :NOMBRE_CATEGORIA, :maxlength=>"20" %>
  </div>
  <div class="field">
    <%= f.hidden_field :STOCK_CATEGORIA, :value => 0 %>
  </div>
  <div class="actions">
    <%= f.submit "crear", class: 'waves-effect waves-light btn' %>
    <%= link_to 'volver', categoria_path, class: 'waves-effect waves-light btn' %>
  </div>
<% end %>
