<p id="notice"><%= notice %></p>
<div class="container">


    <div class="col s12 m4 l7"><p> </p>
      <div class="card-panel" >
          <h2><i class="fa fa-user"></i> Categoría: <%= @categorium.NOMBRE_CATEGORIA %> </h2>
          <table>

<p>
  <b>Nombre categoria</b>: <%= @categorium.NOMBRE_CATEGORIA %>
</p>

<p>
  <b>Id categoria:</b>
  <%= @categorium.ID_CATEGORIA %>
</p>

<div class="row" align="center"><h4>Disfraces de esta Categoría</h4></div>
<div class="row">

<% if @disfrazs.count != 0 %>
  <ul class="collection">
    <% @disfrazs.each do |disfraz| %>
    <li class="collection-item avatar">
      <%= image_tag disfraz.imagen.url(:thumb), class: "circle" %>
      <span class="title"><%= disfraz.NOMBRE_DISFRAZ%></span>
      <p><br>
         Stock: <%= disfraz.STOCK_DISFRAZ%>
      </p>
      <p>
         Stock de la Tienda: <%= disfraz.STOCK_DISPONIBLE%>
      </p>
      <%= link_to disfraz_path(disfraz), class: "secondary-content" do%>
      <i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Ver">visibility</i>
      <%end%>
      
    </li>
    <%end%>
  </ul>

<%end %>

          
   <div class="col s12 m12" align="center"><%= will_paginate @disfrazs  %></div>


</div>

          </table>

          <br>
          <%= link_to 'Editar', edit_categorium_path(@categorium), class: 'waves-effect waves-light btn white-text' %>

          <!--FALTA BOTON ELIMINAR-->
          <%= link_to 'volver', categoria_path, class: 'waves-effect waves-light btn white-text' %>

  </div>

    </div>
</div>


