<%= form_for(@parametro_sistema) do |f| %>
  <% if @parametro_sistema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parametro_sistema.errors.count, "error") %> prohibited this parametro_sistema from being saved:</h2>

      <ul>
      <% @parametro_sistema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_PARAMETRO %><br>
    <%= f.text_field :NOMBRE_PARAMETRO %>
  </div>

  <div class="field">
    <%= f.label :VALOR_PARAMETRO %><br>
    <%= f.number_field :VALOR_PARAMETRO, min: 0 %>
  </div>

    <div class="field">
    <%= f.label :TIPO_PARAMETRO %><br>
    <%= f.text_field :TIPO_PARAMETRO %>
  </div>

  <div class="field">
    <%= f.label :DESCRIPCION_PARAMETRO %><br>
    <%= f.text_field :DESCRIPCION_PARAMETRO %>
  </div>


  <div class="actions">
    <%= f.submit "actualizar", class: 'waves-effect waves-light btn' %>
    <%= link_to 'volver', parametro_sistemas_path, class: 'waves-effect waves-light btn' %>
  </div>
<% end %>
