
<div class="row">
  <div class="container">
    <div class="card-panel">
      <h3>Pedidos</h3>
      <%if @pedidos.count != 0%>
      <table>
        <thead>
          <tr>
            <th colspan="3">Estado</th>
             <th colspan="3">Fecha Pedido</th>
          </tr>
        </thead>

        <tbody>


          <% @pedidos.each do |pedido| %>
            <tr>
              <td><%= pedido.ESTADO_PEDIDO %></td>
              <td><%= pedido.FECHA_PEDIDO %></td>
              <td><%= link_to 'Ver', pedido ,class: 'waves-effect waves-light btn white-text '%></td>
              <% if current_vendedor %>

              <% if pedido.ESTADO_PEDIDO == 'EN ESPERA'%>
              <td>
                <a href="/arrendar/<%= pedido.id %>" class="waves-effect waves-light btn white-text  blue">Aceptar Pedido</a>

              </td>
              <%else%>
              <td></td>
              <%end%>
              <% end %>
              <td><%= link_to 'Eliminar', pedido, method: :delete, data: { confirm: 'Estas seguro?' },class: 'waves-effect waves-light btn white-text red ' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%else%>
      
          <blockquote>
            Hasta el momento no tienes ningún pedido en nuestra tienda. Puedes navegar por el catálogo y añadir disfraces a tu carrito, para posteriormente solicitarlos!.
          </blockquote>
          <%end %>

    </div>
    <div class="row " align="center"><%= will_paginate @pedidos  %></div>
  </div>
</div>
