
<div class="row">
  <div class="container">
    <div class="card-panel">
      <h3>Pedidos</h3>
      <%if @pedidos.count != 0%>

      <table class="striped">
            <thead>
              <tr>
                <th>Código Pedido</th>
                <th>Fecha Pedido</th>
                <th>Estado</th>
                
                <th>Acciones</th>

              </tr>
            </thead>

            <tbody>
              <% @pedidos.each do |pedido| %>
                <tr>
                  <td><%= pedido.id %></td>
                  <td><%= pedido.FECHA_PEDIDO %></td>
                  <td><b><%= pedido.ESTADO_PEDIDO %></b></td>
                  
                  <td><%= link_to 'Ver', pedido ,class: 'waves-effect waves-light btn white-text '%></td>
                  <% if current_vendedor %>

                    <% if pedido.ESTADO_PEDIDO == 'EN ESPERA'%>
                      <td>
                        <a href="/arrendar/<%= pedido.id %>" class="waves-effect waves-light btn white-text  blue">Aceptar Pedido</a>
                      </td>
                  <%else%>
                 
                  <%end%>
                <% end %>
                   <% if pedido.ESTADO_PEDIDO != 'ACEPTADO'%>
                    <td><%= link_to 'Eliminar', pedido, method: :delete, data: { confirm: 'Estas seguro?' },class: 'waves-effect waves-light btn white-text red ' %></td>
                  <%end%>
              
                </tr>
           
                  

              <% end %>
              <div class="col " align="center"><%= will_paginate @clientes  %></div>
            </tbody>
          </table>







      <br>

      <%else%>
      
          <blockquote>
            Hasta el momento no tienes ningún pedido en nuestra tienda. Puedes navegar por el catálogo y añadir disfraces a tu carrito, para posteriormente solicitarlos!.
          </blockquote>
          <%end %>

    </div>
    <div class="row " align="center"><%= will_paginate @pedidos  %></div>
  </div>
</div>
