
<div class="container">


	<div class="card-panel">
		<h4>Pedido número: <b>#<%= @pedido.id %></b></h4>
		<div class="divider"></div>
		<h5>Disfraces del pedido</h5>
		dir
		<ul class="collection">
		<% @pedido.pedidos_detalles.each do |disfraz| %>
			<% if Disfraz.exists?(disfraz.disfraz_id) %>
			<% @d = Disfraz.find(disfraz.disfraz_id)%>
		    <li class="collection-item avatar">
		      <%= image_tag @d.imagen.url(:thumb), class: "circle" %>
		      <span class="title">Nombre: <b><%=  @d.NOMBRE_DISFRAZ%></b></span>
		      <br>
		      <span>Descripción: <b><%= @d.descripcion%></b></span>
		      <%= link_to disfraz_path(@d), class: "secondary-content" do%>
		      <i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Ver">visibility</i>
		     </li>
		     <%end%>
		    <%else%>
		    <li>Un disfraz dejó de estar en la tienda mientras está este pedido.</li>
		    <%end%>
		<%end%>
	</ul>
	</div>

	<%= link_to 'Catálogo', '/disfrazs' %>
</div>