
<div class="container">
  <div class="card-panel">
  <h3>Log de Auditoría</h3>

    <table>
      <thead>
        <tr>
          <th >Id</th>
          <th >Rut</th>
          <th >Tabla Afectada</th>
          <th >Instrucción</th>
          <th >Antes</th>
          <th >Después</th>
          <th>Fecha</th>
        </tr>
      </thead>

      <tbody>
        <% @log_auditoria.each do |log| %>
          <tr>
            <td><%= log.id %></td>
            <td><%= log.RUT_USUARIO %></td>
            <td><%= log.TABLA_AFECTADA %></td>
            <td><%= log.INSTRUCCION %></td>
            <td><%= log.DATOS_ANTES %></td>
            <td><%= log.DATOS_DESPUES %></td>
            <td><%= log.FECHA_MODIFICACION %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
  <div class="row " align="center"><%= will_paginate @log_auditoria  %></div>
</div>