<%= form_for @disfraz, :html => { :multipart => true } do |f| %>
<div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen %>
  </div>
  <br>
  <div class="field">
    <%= f.collection_select(:ID_CATEGORIA, Categoria.all, :ID_CATEGORIA, :NOMBRE_CATEGORIA, { prompt: "Selecciona una Categoria" }, class: "browser-default") %>
  </div>

  <div class="field">
    <%= f.label :NOMBRE_DISFRAZ %><br>
    <%= f.text_field :NOMBRE_DISFRAZ %>
  </div>
  <div class="field">
    <%= f.label :STOCK_DISFRAZ %><br>
    <%= f.number_field :STOCK_DISFRAZ, :min => 1 %>
  </div>
  <div class="field">
    <%= f.hidden_field :STOCK_DISPONIBLE, :value => :STOCK_DISFRAZ %>
  </div>

  <div class="actions">
    <a class="waves-effect waves-light btn"><%= f.submit "Aceptar" %></a>  <%= link_to 'Cancelar', disfrazs_path, class: 'waves-effect waves-light btn red' %>
  </div>
<% end %>
