

<%= form_for @disfraz, :html => { :multipart => true } do |f| %>
<div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :categoria_del_disfraz %><br>
    <%= f.number_field :ID_CATEGORIA %>
  </div>
  <div class="field">
    <%= f.label :nombre_del_disfraz %><br>
    <%= f.text_field :CATEGORIA_DISFRAZ %>
  </div>
  <div class="field">
    <%= f.label :STOCK_DISFRAZ %><br>
    <%= f.number_field :STOCK_DISFRAZ, :value => 1 %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :STOCK_DISPONIBLE, :value => :STOCK_DISFRAZ %>
  </div>
  <div class="actions">
    <a class="waves-effect waves-light btn"><%= f.submit "Añadir" %></a>  <%= link_to 'Cancelar', disfrazs_path, class: 'waves-effect waves-light btn red' %>
  </div>
<% end %>
