<%= form_for @disfraz, :html => { :multipart => true } do |f| %>
<div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen %>
  </div>
  <br>
  <div class="field">
      <%= f.label :ID_CATEGORIA, "Categoria" %><br>
    <%= f.collection_select(:ID_CATEGORIA, Categoria.all, :ID_CATEGORIA, :NOMBRE_CATEGORIA, { prompt: "Selecciona una Categoria" }, class: "browser-default") %>
  </div>

  <div class="field">
    <%= f.label :NOMBRE_DISFRAZ %><br>
    <%= f.text_field :NOMBRE_DISFRAZ , :maxlength=>"20"%>
  </div>
  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :maxlength=>"150"%>
  </div>

<div class="field">
  <%= f.label :precio%>
    <%= f.number_field :precio, :min => 1 %>
  </div>

  <div class="actions">
    <a class="waves-effect waves-light btn"><%= f.submit "Aceptar" %></a>  <%= link_to 'Cancelar', disfrazs_path, class: 'waves-effect waves-light btn red' %>
  </div>
<% end %>
