<div class="row">
     <div class="col s12" align="center"><!--<h4><i class="fa fa-child"></i> Catálogo de Disfraces</h4> -->

     
      <div class="row">
     
    <nav>
    <div class="nav-wrapper " align="left">
      <div class="col s12">
        <a href="/disfrazs" class="breadcrumb ">Disfraces</a>
         <% if params[:ID_CATEGORIA] %>
        <a  class="breadcrumb "><%= @categoria.NOMBRE_CATEGORIA %></a>
           <% end %>
           <% if params[:search] %>
        <a  class="breadcrumb ">Busqueda</a>

           <% end %>
      </div>
    </div>
  </nav>

      </div>
 

    </div>
    <div class="col s12 m3 l2">

 

  <div class="card-panel  z-depth-3">
     <%= form_tag disfrazs_path, :method => 'get' do %>

    <i class="fa fa-search"></i><%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil,class: 'waves-effect waves-light btn white-text green ' %>
    <% if params[:search] %>
      <p><a href="/disfrazs" class="waves-effect waves-light btn red">Cancelar</a></p>
    <% end %>
      <% end %>
      </div>
  

<% if current_vendedor %>
  <% if current_vendedor.ES_ADMIN==true %>
    <ul class="collection with-header z-depth-3">
        <li class="collection-header"><h5>MENU ADMIN</h5></li>
          
              <li class="collection-item"><div>Nuevo Disfraz<a href="/disfrazs/new" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              <li class="collection-item"><div>Nueva Categoría<a href="/categoria/new" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
  <% end %>  

<% end %>
        
        <ul class="collection with-header z-depth-3">
        <li class="collection-header"><h4>Categorías</h4></li>
          
            <% @categorias.each do |c| %>
            <%= form_tag disfrazs_path, :method => 'get' do %>  
    <%= hidden_field_tag :ID_CATEGORIA, params[:ID_CATEGORIA], value: c.ID_CATEGORIA%>

              <li class="collection-item"><div><%= c.NOMBRE_CATEGORIA%>
              <input  type="submit" class="secondary-content"></div></li>
              <%end%>

            <% end %>
      </ul>
<% if current_cliente %>

      <div class="card-panel blue darken-3  white-text z-depth-3">
        <h5>Información</h5>
        <div class="divider"></div>
        <p>Acá puedes seleccionar los disfraces que deseas y agendarlos :D</p>
      </div>


<% end %>
    </div>  
          


        <% @disfrazs.each do |disfraz| %>
          <div class="col s12 m3">
          <div class="card-panel" >
            <div class="row" align="center">
              <h5><%= disfraz.CATEGORIA_DISFRAZ%></h5>
              <div class="divider"></div>
              <%= image_tag disfraz.imagen.url(:medium), class: 'materialboxed' %>
            </div>
            <div class="container" align="center">
            <p><%= link_to 'Ver', disfraz ,class: 'waves-effect waves-light btn white-text '%></p>
            </div>
            <% if current_vendedor%>
              <% if current_vendedor.ES_ADMIN == true %>



              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>ADMIN</div>
                  <div class="collapsible-body" align="center">


                  <p><%= link_to 'Editar', edit_disfraz_path(disfraz),class: 'waves-effect waves-light btn white-text ' %>
                  <%= link_to 'Eliminar', disfraz, method: :delete, data: { confirm: 'Estas seguro?' },class: 'waves-effect waves-light btn white-text red' %></p>

                  </div>
                </li>
              </ul>
                    
              <% end %>
            <% end %>

          </div>

          </div>

        <% end %>
          
         <div class="col s12 m12" align="center"><%= will_paginate @disfrazs  %></div>
    
    </div>
    </div>
    </div>

    