<p id="notice"><%= notice %></p>


<div class="container">
  
  <div class="col s12 m8">

    <div class="card-panel">
      <h3><%= @disfraz.CATEGORIA_DISFRAZ %></h3>
      <br>
        <div class="row">
          <div class="col s6 m4">
            <%= image_tag @disfraz.imagen.url(:medium), class: 'materialboxed z-depth-1'%>
          </div>
          <div class="col s12 m5">
                                          <div class="divider"></div>
                                          <div class="col s12 m6">
                                                <p><b>Nombre: </b></p>
                                                <p><b>Categoría: </b></p>
                                                <p><b>Stock de la Tienda: </b></p>
                                                <p><b>Stock actual: </b></p>
                                                
                                          </div>
                                          <div class="col s12 m6"></div>
                                          <p><%= @disfraz.CATEGORIA_DISFRAZ %> </p>
                                          <p><%= @disfraz.ID_CATEGORIA %></p>
                                          <p><%= @disfraz.STOCK_DISFRAZ %></p>
                                          <p><%= @disfraz.STOCK_DISPONIBLE %></p>
                                          
                                    </div>


        </div>
        <% if current_vendedor%>
          <%if current_vendedor.ES_ADMIN == true%>
                  <%= link_to 'Editar', edit_disfraz_path(@disfraz),class: 'waves-effect waves-light btn white-text ' %>
                  
                  <%= link_to 'Eliminar', disfrazs_path, method: :delete, data: { confirm: 'Estas seguro?' },class: 'waves-effect waves-light btn white-text red' %>
          <%end%>
        <%end%>
    </div>
    <a href="/disfrazs" class="waves-effect waves-light btn white-text ">Regresar</a>
  </div>

</div>