<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
 <div class="container">
  <div class="row red-text">
    <%= devise_error_messages! %>
  </div>
</div>

<div class="row">
    <div class="col s12"><p></p></div>
    <div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8"><p> </p>
      <div class="card-panel" >
  <h2><i class="fa fa-user"></i> Edita tu Perfil</h2>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :NOMBRE_VENDEDOR , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :APELLIDO_VENDEDOR , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :DIRECCION_VENDEDOR, autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :TELEFONO_VENDEDOR , autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmacion para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :nueva_contrasena %> <i>(Dejala en blanco si no la quieres cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contrasena %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :contrasena_actual %> <i>(Necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

    <div class="actions">
      <a class="waves-effect waves-light btn"><%= f.submit "Actualizar" %></a>
      <%= link_to "Cancelar", "/vendedors/#{current_vendedor.id}",class: 'waves-effect waves-light btn white-text orange' %>
    </div>
  <% end %>
  </div>

    </div>
    <div class="col s12 m4 l2"><p></p></div>
  </div>
