<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container">
  <div class="row red-text">
    <%= devise_error_messages! %>
  </div>
</div>


<div class="row">
    <div class="col s12"><p></p></div>
    <div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8"><p> </p>
      <div class="card-panel" >
  <h2><i class="fa fa-user"></i> Registrar Vendedor/Administrador</h2>

<div class="field">
    <%= f.label :RUT_VENDEDOR , 'Rut'%><br />
    <%= f.number_field :RUT_VENDEDOR , autofocus: true, autocomplete: "off", min: 1%>
  </div>
  <div class="field">
    <%= f.label :NOMBRE_VENDEDOR, 'Nombre' %><br />
    <%= f.text_field :NOMBRE_VENDEDOR , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :APELLIDO_VENDEDOR, 'Apellido' %><br />
    <%= f.text_field :APELLIDO_VENDEDOR , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :DIRECCION_VENDEDOR, 'Direccion' %><br />
    <%= f.text_field :DIRECCION_VENDEDOR , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :TELEFONO_VENDEDOR, 'Telefono' %><br />
    <%= f.text_field :TELEFONO_VENDEDOR , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password , 'Contraseña' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> carácteres como mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirmar Contraseña' %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <label>Tipo de Personal</label>
  <select name="vendedor[ES_ADMIN]" class="browser-default">
    
    <option value="false" selected>Vendedor</option>
    <option value="true">Administrador</option>
    
  </select>
  

      <div class="actions">
      <a class="waves-effect waves-light btn"><%= f.submit "Registrarse" %></a>
      
    </div>

<% end %>
  </div>