<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


<div class="container">
  <div class="row red-text">
    <%= devise_error_messages! %>
  </div>
</div>

<div class="row">
    <div class="col s12"><p></p></div>
    <div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8"><p> </p>
      <div class="card-panel" >
  <h2><i class="fa fa-user"></i> Registrate</h2>

<div class="field">
    <%= f.label :rut %><br />
    <%= f.number_field :RUT_CLIENTE , autofocus: true%>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :NOMBRE_CLIENTE , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :APELLIDO_CLIENTE , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :DIRECCION_CLIENTE , autocomplete: "off"%>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :TELEFONO_CLIENTE , autocomplete: "off", :maxlength=>"11"%>
  </div>
  
  <div class="field">
    <%= f.label :correo %><br />
    <%= f.email_field :email , autocomplete: "off"%>
  </div>

  <div class="field">
    <%= f.label :contrasena %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> carácteres como mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contrasena %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <div class="actions">
      <a class="waves-effect waves-light btn"><%= f.submit "Registrarse" %></a>
      
    </div>
  <% end %>
  </div>

    </div>
    <div class="col s12 m4 l2"><p></p></div>
  </div>