 <br>
 <div class="container">
  <div class="card-panel">

  <h3>Arriendos</h3>

  <table class="highlight">
    <thead>
      <tr>
        <th colspan="3">Código</th>
        <th colspan="3">Fecha Arriendo</th>
        <th colspan="3">Estado</th>
        <th colspan="3">Total Arriendo</th>
        <th colspan="3">Vendedor</th>
        <% if !current_cliente%>
          <th colspan="3">Cliente</th>
        <%end%>
        <th colspan="3">Cantidad Disfraces</th>
        <th colspan="3">Total Garantía</th>
        <th colspan="3">Total Arriendo</th>
        
    </thead>

    <tbody align="center">
      <% @arriendos.each do |arriendo| %>
      <tr>
        <td colspan="3"><%= arriendo.id %></td>
        <td colspan="3"><%= arriendo.FECHA_ARRIENDO %></td>
     
        <td colspan="3"><b><%= arriendo.ESTADO_ARRIENDO %></b></td>
    
        <td colspan="3"><%= arriendo.TOTAL_ARRIENDO %></td>
      
      <% if Vendedor.exists?(arriendo.ID_VENDEDOR) %>
      <% @v = Vendedor.find(arriendo.ID_VENDEDOR) %>
        <td colspan="3"><%= @v.NOMBRE_VENDEDOR %> <%= @v.APELLIDO_VENDEDOR %></td>
        <%else%>
        <td colspan="3">NO EXISTE</td>
      <%end%>
      <% if !current_cliente %>
     
        <% if Cliente.exists?(arriendo.cliente_id) %>
      <% @c = Cliente.find(arriendo.cliente_id) %>
        <td colspan="3"><%= @c.NOMBRE_CLIENTE %> <%= @c.APELLIDO_CLIENTE %></td>
        <%else%>
        <td colspan="3">NO EXISTE</td>
      <%end%>
  

      <%end %>
   
        <td colspan="3"><%= arriendo.NUMERO_DISFRACES %></td>
     

        <td colspan="3">$ <%= arriendo.TOTAL_GARANTIA %></td>
  
        <td colspan="3">$ <%= arriendo.TOTAL_ARRIENDO %></td>
   
          <td><%= link_to 'Ver', arriendo,class: 'waves-effect waves-light btn white-text blue' %></td>
      
        <%if current_vendedor and arriendo.ESTADO_ARRIENDO!='DEVUELTO'%>
          <td><a href="/devolucion/<%= arriendo.id %>" class="waves-effect waves-light btn white-text green">Devuelto</a></td>
          <%end%>
  <!--           <td><%= link_to 'Edit', edit_arriendo_path(arriendo) %></td>-->
        
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  </div>

  <%if current_vendedor%>
  <blockquote>
    Cualquier cambio en esta sección es una transacción. Es decir, solo se realizará si todo está correctamente. De otra manera no sucederá nada.
  </blockquote>
  <%end%>
  <div class="row " align="center"><%= will_paginate @pedidos  %></div>
<%= link_to 'Catálogo','/disfrazs',class: 'waves-effect waves-light btn white-text' %>
</div>