<div class="navbar-fixed">
<nav>

    <div class="nav-wrapper ">
    <div class="container">

      
      <%= link_to('ADEDI',root_path, class: "brand-logo") %> 
     <ul id="nav-mobile" class="right hide-on-med-and-down">
      

      	<% if current_cliente %>
        <!-- BARRA DE CLIENTE -->

        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to "Mis Pedidos", "/pedidos" %></li>
          <li><%= link_to "Mis Arriendos", "/arriendos" %></li>
          <li><%= link_to "Mi Perfil", "/clientes/#{current_cliente.id}" %></li>
          <li class="divider"></li>
          <li><%= link_to('Cerrar Sesión', destroy_cliente_session_path, :method => :delete) %></li>
        </ul>

          <!-- Dropdown Trigger -->
          
          <li>CLIENTE</li>
          <li>
          <a  class="dropdown-button" href="#!" data-activates="dropdown1">
          <div class="chip">

            <%= image_tag current_cliente.avatar.url %>
            
            <%= current_cliente.NOMBRE_CLIENTE %> <%= current_cliente.APELLIDO_CLIENTE %>
          </div>
        	<i class="material-icons right">arrow_drop_down</i>
          </a>
          </li>

          <li><a href="/carrito"><i class="material-icons">shopping_cart</i></a></li>
		    <% else %>
		

      		<% if current_vendedor %>

            <ul id="dropdown2" class="dropdown-content">
                <li><%= link_to "Mi Perfil", "/vendedors/#{current_vendedor.id}" %></li>
                <li class="divider"></li>

              <li><a href="/">Solicitudes</a></li>
              <li><a href="/">Arriendos</a></li>
                
                <li class="divider"></li>
                <li><%= link_to('Cerrar Sesión', destroy_vendedor_session_path, :method => :delete) %></li>
              </ul>


            <% if current_vendedor.ES_ADMIN == true %>
              
            <!-- BARRA DE ADMINISTRADOR -->

            <ul id="dropdown3" class="dropdown-content">
                <li><%= link_to "Mi Perfil", "/vendedors/#{current_vendedor.id}" %></li>
                <li class="divider"></li>

              
                <li><%= link_to('Cerrar Sesión', destroy_vendedor_session_path, :method => :delete) %></li>
              </ul>


              <li>ADMINISTRADOR</li>
              <li>
                <a  class="dropdown-button" href="#!" data-activates="dropdown3">
                <div class="chip">
                  
                  <%= image_tag("default.png") %>
                  <%= current_vendedor.NOMBRE_VENDEDOR %> <%= current_vendedor.APELLIDO_VENDEDOR %>
                </div>
                <i class="material-icons right">arrow_drop_down</i>
                </a>
                </li>
                

                
          

            <% else %>

              
            <li>VENDEDOR</li>
            <li>
                <a  class="dropdown-button" href="#!" data-activates="dropdown2">
                <div class="chip">
                  
                  <%= image_tag("default.png") %>
                  <%= current_vendedor.NOMBRE_VENDEDOR %> <%= current_vendedor.APELLIDO_VENDEDOR %>
                </div>
                <i class="material-icons right">arrow_drop_down</i>
                </a>
                </li>
                
            <% end %>
      			
      		<% else %>
          <!-- BARRA DE PERSONA NO REGISTRADA -->
	      		<li><a href="/clientes/sign_in" >Iniciar Sesión</a></li>
		        <li><a href="/clientes/sign_up">Registrarse</a></li>
		        <li><a href="/vendedors/sign_in">Administración</a></li>

      		<% end %>
        
        <%end%>
      </ul>
    </div>
    </div>
  </nav>
  </div>

<!-- BARRA DE BOTONES -->
<!-- 
  <br>
  <div class="center">
      
    <a href="/" class="waves-effect waves-light btn ">HOME</a>
    <a href="/disfrazs" class="waves-effect waves-light btn ">CATÁLOGO</a>
    <a href="/home/acerca" class="waves-effect waves-light btn ">ACERCA</a>
    <a href="/home/contacto" class="waves-effect waves-light btn ">CONTACTO</a>
    <a href="/home/ayuda" class="waves-effect waves-light btn">AYUDA</a>     


  </div>
</br>
-->

<% if current_cliente || current_vendedor %>
  <% if current_vendedor %>
    <% if current_vendedor.ES_ADMIN== false%>
      <ul id="dropdown4" class="dropdown-content">
                      <li><a href="/pedidos">Solicitudes</a></li>
                      <li><a href="/arriendos">Arriendos</a></li>
                      <li class="divider"></li>
                      <li><a href="/clientes/sign_up">Añadir Cliente</a></li>
      </ul>
    <%else%> 
      <ul id="dropdown4" class="dropdown-content">
                      <li><a href="/pedidos">Solicitudes</a></li>
                      <li><a href="/arriendos">Arriendos</a></li>

                      <li class="divider"></li>
                      <li><a href="/clientes/sign_up">Añadir Cliente</a></li>
                      <li><a href="/vendedors/sign_up">Añadir Personal</a></li>
                      <li class="divider"></li>
                      <li><a href="/parametro_sistemas">Parámetros Sistema</a></li>
                      
      </ul>
    <%end%>
  <%end%>
<div class="navbar">
    <nav>
    
      <div class="nav-wrapper  teal darken-3" align="center">
        <div class="container">
        <a href="#!" class="brand-logo"></a>
        <ul class="left hide-on-med-and-down">
          <li><i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Escoge una opción">label</i></li>
          <% if current_vendedor %>
          <li><a  class="dropdown-button" href="#!" data-activates="dropdown4" >Panel Administracion <i class="material-icons right">arrow_drop_down</i></a></li>
          <%end%>
          <li><a href="/disfrazs">Catálogo</a></li>
          <% if current_vendedor%>
            <li><a href="/clientes">Clientes</a></li>
            <% if current_vendedor.ES_ADMIN== true%>
                    
                    <li><a href="/vendedors">Vendedores</a></li>
                    <li><a href="/ejemplars">Ejemplares</a></li>
                    <li><a href="/categoria">Categorías</a></li>
            <% end %>
          <% end %>
          <li><a href="/home/acerca"><i class="material-icons">supervisor_account</i></a></li>
          <li><a href="/home/contacto"><i class="material-icons">email</i></a></li>
          <li><a href="/home/ayuda" ><i class="material-icons">flag</i></a>  </li>
        </ul>
        </div>
      </div>
    </nav>
  </div>

<%else%> 
<div class="navbar">
    <nav>
    
      <div class="nav-wrapper  teal darken-3" align="center">
        <div class="container">
        <a href="#!" class="brand-logo"></a>
        <ul class="left hide-on-med-and-down">
          <li><i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Escoge una opción">label</i></li>
          <li><a href="/home/acerca"><i class="material-icons">supervisor_account</i></a></li>
          <li><a href="/home/contacto"><i class="material-icons">email</i></a></li>
          <li><a href="/home/ayuda" ><i class="material-icons">flag</i></a>  </li>
        </ul>

        </div>
      </div>
    </nav>
  </div>
<%end%>