<!DOCTYPE html>
<html>
<head>
  <title>Adedi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar-fixed">
<nav>

    <div class="nav-wrapper ">
      <a href="/" class="brand-logo right">ADEDI</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      	<% if current_cliente %>
      		<li><a href="/"><%= current_cliente.email %></a></li>
        	<li><%= link_to('Cerrar Sesion', destroy_cliente_session_path, :method => :delete) %> </li>
        	<li><a href="/">Actividad</a></li>
		<% else %>
		

      		<% if current_vendedor %>
      			<li><a href="/">Solicitudes</a></li>
		        <li><a href="/">Arriendos</a></li>
		        <li><%= link_to('Cerrar Sesion', destroy_vendedor_session_path, :method => :delete) %>   </li>

      		<% else %>

	      		<li><a href="/clientes/sign_in">Iniciar Sesion</a></li>
		        <li><a href="/clientes/sign_up">Registrarse</a></li>
		        <li><a href="/vendedors/sign_in">Admin</a></li>

      		<% end %>
        
        <%end%>
      </ul>
    </div>
  </nav>
  </div>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Arriendo de Disfraces [ADEDI]</h5>
                <p class="grey-text text-lighten-4">Proyecto PBD 2015.</p>
                <p class="grey-text text-lighten-4">Integrantes: Sergio Medina - Rodrigo Mendoza</p>
                <p class="grey-text text-lighten-4">Universidad de Santiago de Chile - 2015</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces de Utilidad</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Acerca</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Usach</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            USACH
            <a class="grey-text text-lighten-4 right" href="http://materializecss.com/">Materialize</a>
            </div>
          </div>
        </footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>
